%h2 Movies
.read-all
  = link_to "Read All Movie Reviews", reviews_path, class: "btn btn-primary"
%table#movies_table.table.tablesorter.tablesorter-blue
  %thead
    %tr
      %th Title
      %th Release Date
      %th Genre
      %th
      %th
  %tbody
    - @movies_by_genre.each do |genre, movies|
      - movies.each do |movie|
        %tr
          %td
            = movie["title"]
          %td
            = movie["release_date"]
          %td
            = genre
          %td
            = link_to "Read Reviews", movie_path(movie["id"], movie_title: movie["title"])
          %td
            = link_to "New Review", new_movie_review_path(movie["id"], movie_title: movie["title"])
