%h2 New Review!
%h3
= simple_form_for @review, url: movie_reviews_path do |f|
  = f.error_notification
  = f.hidden_field :movie_id, value: params[:movie_id]
  = f.input :user_email
  = f.input :rating
  = f.input :comment, required: false
  = f.submit "Submit Review"

